<b>{{auth.user?.uid}}</b>

<div *ngIf="!(auth.authenticated | async)">
  <a class="btn btn-default btn-social btn-facebook" (click)="onLogin('google')"><i class="fa fa-google"></i> Connexion avec Google</a>
  <a class="btn btn-default btn-social btn-github" (click)="onLogin('github')"><i class="fa fa-github"></i> Connexion avec Github</a>
</div>

<div *ngIf="auth.authenticated | async">
  <button (click)="onLogout()">Déconnexion</button>
</div>

<i *ngIf="auth.loading" class="fa fa-cog fa-spin"></i>
