<div *ngIf="!(auth.authenticated | async)">
  <span *ngFor="let provider of auth.providers">
    <a class="btn btn-default" (click)="onLogin(provider)">Connexion avec {{provider.name}}</a>
  </span>
</div>

<div *ngIf="auth.authenticated | async">
  Vous avez besoin de vous reconnecter pour effectuer cette tâche.<br/>
  <span *ngFor="let provider of auth.providers">
    <a class="btn btn-default" *ngIf="provider.active" (click)="onReauth(provider)">Reconnexion avec {{provider.name}}</a>
  </span>
</div>

<i class="fa fa-cog fa-spin" *ngIf="load.load"></i>
