<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">a2app</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right" *ngIf="auth.authenticated | async">
        <li class="dropdown" dropdown>
          <a href="#" class="dropdown-toggle" dropdownToggle>{{auth.user}} <span class="caret"></span></a>
          <ul class="dropdown-menu" dropdownMenu>
            <li><a routerLink="/settings">Paramètres</a></li>
            <li><a routerLink="/login" (click)="onLogout()">Déconnexion</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="!(auth.authenticated | async)">
        <li>
          <p class="navbar-btn">
            <a routerLink="/login" class="btn btn-default">Connexion</a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</nav>
