<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">a2app</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right" *ngIf="auth.authenticated | async">
        <li class="dropdown" dropdown>
          <a href="#" class="dropdown-toggle" dropdownToggle>
            {{auth.user}}
            <div class="pic-container">
              <img class="pic" src="{{auth.user.pic}}" alt="{{auth.user.uid}}" *ngIf="auth.user.pic && auth.user.pic != -1" />
            </div>
            <i class="fa fa-cog fa-spin" *ngIf="auth.user.pic == -1"></i>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" dropdownMenu>
            <li routerLink="settings" routerLinkActive="active"><a>Paramètres</a></li>
            <li routerLink="sign" (click)="onLogout()"><a>Déconnexion</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
