<div class="pic-container">
  <img class="pic" src="{{auth.user?.pic}}" alt="{{auth.user?.uid}}" *ngIf="auth.user?.pic && auth.user?.pic != -1" />
</div>

<i class="fa fa-cog fa-spin" *ngIf="auth.user?.pic == -1"></i>

<table class="table">
  <tbody>
    <tr>
      <td>Nom</td>
      <td>{{auth.user?.firstname}} {{auth.user?.lastname}}</td>
      <td><a routerLink="name">modifier</a></td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{auth.user?.email}}</td>
      <td><a routerLink="email">modifier</a></td>
    </tr>
  </tbody>
</table>