<div *ngIf="auth.authenticated | async">
  <span *ngFor="let provider of auth.providers">
    <a *ngIf="!provider.active && provider.id != 'password'" (click)="onLink(provider)" class="btn btn-default">Ajouter un compte {{provider.name}}</a>
    <a *ngIf="provider.active && provider.id != 'password'" (click)="onUnlink(provider)" class="btn btn-default">Supprimer {{provider.name}} du compte <span *ngIf="provider.email">({{provider.email}})</span></a>
  </span>
</div>

<i *ngIf="load.load" class="fa fa-cog fa-spin"></i>