<form class="form-inline" (submit)="onSubmit(form.value)" #form="ngForm">
  <div class="form-group">
    <input type="hidden" id="email" name="email" [ngModel]="auth.user?.email">

    <label for="password" *ngIf="auth.isActiveProvider(auth.getProviderById('password'))">Nouveau mot de passe:</label>
    <label for="password" *ngIf="auth.hasProvider(auth.getProviderById('password')) && !auth.isActiveProvider(auth.getProviderById('password'))">Créer un mot de passe:</label>
    <input [disabled]="submit" type="password" class="form-control" id="password" name="password" ngModel>
  </div>

  <button type="submit" class="btn btn-primary">Enregistrer</button>
</form>

<div *ngIf="submit">
  <app-sign-in (reauth)="onReauth()"></app-sign-in>
  <button class="btn btn-danger" (click)="onCancel()">Annuler</button>
</div>