<div class="col-md-2">
  <ul class="nav nav-pills nav-stacked">
    <li routerLink="main" routerLinkActive="active" routerLinkActiveOptions="{exact: true}"><a>Général</a></li>
    <li routerLink="security" routerLinkActive="active" routerLinkActiveOptions="{exact: true}"><a>Sécurité</a></li>
    <li routerLink="notifications" routerLinkActive="active" routerLinkActiveOptions="{exact: true}"><a>Notifications</a></li>
  </ul>

  <hr>
</div>

<div class="col-md-10">
  <router-outlet></router-outlet>
</div>
